.box {
    background-color: black;
    height: 100px;
    width: 100px;
    margin: 10px;
}

#green-rect {
    background-color: green;
    height: 20px;
    width: 50px;
    margin-left: 10px;
    display: none;
}

#yellow-box {
    background-color: yellow;
    height: 100px;
    width: 100px;
    margin: 10px;
    margin-top: 25px;
}

#red-box {
    background-color: red;
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-top: 25px;
    display: none;
    position: absolute;
    left: 130px;
    top: -15px;
}

.red-square-ctrl {
    margin-top: 25px;
    margin-bottom: 40px;
}

.hidden {
    display: none;
}

span {
    display: flex;
}

img {
    width: 200px;
}

#mouseCoord {
    position: absolute;
    right: 40px;
    top: 20px;
    border: 2px solid black;
    padding: 5px;
}

#localStorage {
    border: 2px solid black;
    margin-left: 21px;
    font-size: 20px;
    width: 400px;
    padding: 1px 2px;
    font-family: sans-serif;
}

#cookies {
    border: 2px solid black;
    margin-left: 52px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    width: 400px;
    padding: 1px 2px;
    font-family: sans-serif;
}

#sessionStorage {
    border: 2px solid black;
    margin-left: 5px;
    font-size: 20px;
    width: 400px;
    padding: 1px 2px;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.goup {
    text-align: center;
    width: 65px;
    height: 25px;
    border-radius: 5px;
    background-color: cadetblue;
    position: fixed;
    right: 30px;
    align-items: center;
    justify-content: center;
    color: #ffc107;
    font-size: 20px;
    text-decoration: none;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
}

.goup.show-button {
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}

.outer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border: 1px solid black;
}

.inner {
    width: 100px;
    height: 50px;
    border: 1px solid black;
}

#square {
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
    position: fixed;
    top: 0;
    right: 0;
}

#form-area {
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.file {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 35px;
    background-color: #ffc107;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
}

.file:hover{
    background-color: #ffda07;
    border: 1px solid gray;
    width: 305px;
    height: 37px;
}

.file-active{
box-shadow: 0 0 12px 5px green;
}